* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */
/*
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}*/

.select_wrapper{
display: flex;
    flex-direction: column;
    width: 500px;	
}


form{
	margin: auto;
}
.two_ways{
	display: none;
}
#round_trip{
	width:150px;
	background-color: blue;
	border: 2px solid red;
	border-radius: 30px;
	text-align: center;
}

/*style radio*/
.switch {
	position: relative;
	padding: 0.1rem;
	font-family: verdana;
	right: 4px;
	
  }
  .switch:before {
	content: "  ";
	position: absolute;
	left: 0;
	z-index: 0;
	background: rgba(216, 216, 216, 1);
	border-radius: 30px;
	width: 103px;
	height: 40px;






  }
  .switch__label {
	display: inline-block;
	width: 48px;
    height: 37px;
    padding: 14px;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
	z-index: 1;
    position: relative;
	
  }
 
  .switch__indicator {

	position: absolute;
    top: 0.4rem;
    left: -11px;
	background: rgba(17, 24, 85, 1);
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
	width: 32px;
	height: 32px;


  }
  .switch input#one_trip:checked ~ .switch__indicator {
	background: rgba(17, 24, 85, 1);
	
	transform: translate3d(1rem, 0rem, 0);
  }
  .switch > input#one_trip:checked ~ .switch:before{
	background: white;
  }
  .switch input#round_trip:checked ~ .switch__indicator {
	background: linear-gradient(180deg, #FEEDC4 0%, #E3BC78 100%);

	transform: translate3d(4.9rem, 0rem, 0);
  }
  
  .switch input[type=radio]:not(:checked), .switch input[type=radio]:checked {
	display: none;
  }
  
/*end style radio*/
.trip_direction{
	display: flex;
	
	justify-content:right;
	margin: auto 0;
}

/*style order*/
.trip_order{
	background: rgba(56, 62, 94, 1);
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
	width: 100%;
	max-width: 884px;
	height: 219px;
	border-radius: 30px;
	padding: 52px 100px;
	margin: auto;
	
}
.trip_order_info{
	display: flex;
	justify-content: space-between;
}


.way_info {
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
	text-align: left;

}
.way{
	color:rgba(246, 215, 136, 1)
}
.verticalLine{
	width: 2px; /* Use only border style */
	height: 100px;
	float: left; 
	border: none;
	background: linear-gradient(90deg, #FEEDC4 0%, #F7D788 100%);


}
.edit {
	float: right;
    position: relative;
    top: -30px;
    right: -57px;
	background: transparent;
	cursor: pointer;

}
.trip_order_select,
.return_trip_order_select{
	max-width: 1698px;
	width: 100%;
	height: 191px;
	border-radius: 30px;
	
	padding: 30px 50px;
	margin: auto;
}


.time_trip{
	font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 21.94px;
letter-spacing: 0.05em;
text-align: center;
color: rgba(255, 255, 255, 1);


}
.block_from_to p,
.cost_from_to p,
.location_details_wrapper h2,
.passenger_details_wrapper h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 42.67px;
	letter-spacing: 0.05em;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	
}
#sumViewOneWayspan,
#sumViewReternWayspan{
	color: rgba(255, 255, 255, 1);
	background: none;
	-webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
}
.block_from_to p span,
.cost_from_to span,
.location_details_wrapper span,
.passenger_details_wrapper span {
	background: linear-gradient(91.52deg, #F7D788 46.79%, #E3BC78 99.46%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper_from_to{
	display: flex;
	justify-content: space-between;
}
.line_from_to{
	display: flex;
	max-width: 825px;
    width: 100%;
	position: relative;
}
.cost_from_to span {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 42.67px;
	letter-spacing: 0.05em;
	text-align: left;

}
.cost_from_to{
	
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 26.82px;
	letter-spacing: 0.05em;
	text-align: left;
}
.ellips{
	width: 275px;
	display: flex;
	margin: auto;
	
}
.line_from_to div:nth-child(1) {
	display: flex;
	justify-content: left;
}
.line_from_to div:nth-child(2) {
	display: flex;
	justify-content: center;
}
.line_from_to div:nth-child(3) {
	margin: auto;
	display: flex;
	justify-content: right;
}
.line1{
	position: absolute;
    top: 21px;
    left: 20px;
    max-width: 786px;
    width: 100%;
}
.trip_order_distance_from,
.trip_order_distance_to,
.location_details_wrapper label,
.passenger_details_wrapper label
{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.94px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 1);
}
.trip_order_distance_from,
.trip_order_distance_to{
	text-align: center;
}
.location_details_wrapper label,
.passenger_details_wrapper label{
	text-align: left;
}

.trip_order_distance_block{
	display: flex;
	justify-content: space-between;
	padding: 0 23% 13px 19%;
    top: -4px;
    position: relative;
}
.about_time_in_trip{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 18.29px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(192, 191, 191, 1);
	margin: 0;
}


.order_distance{
	cursor: pointer;
	max-width: 1698px;
	width: 100%;
	height: 444px;
	background: rgba(17, 24, 86, 1);
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 1)
}
.horizontalline {
	width: 150px;
	height: 2px;
	background: linear-gradient(90deg, #FEEDC4 0%, #F7D788 100%);
	border: none;
	margin: auto;

}
.search_container,
#edit_container{
	max-width: 1460px;
	width: 100%;
	border-radius: 30px;
	margin: 100px auto;
	
}
.search_container{
	display: flex;
}
#edit_container{
	display: flex;
}
.hidden{
	display: none;
}
.service_items {
	width: 220px;
	border-radius: 30px 0px 0px 30px;
	background: rgba(56, 62, 94, 1);
	padding: 10px 0 40px 0;


}
.service_item{
	color: rgba(192, 191, 191, 1);
	border-bottom: 1px solid rgba(216, 216, 216, 1);
	padding-bottom: 21px;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}
.service_item p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 26.82px;
	letter-spacing: 0.05em;
	text-align: center;
	width: 98%;
	margin: auto;
	
	

}

.checked_line{
	width: 3px;
	height: 51px;
	background: linear-gradient(90deg, #F7D788 0%, #E3BC78 100%);
	display: block;
	position: relative;
	top: 21px;
}
.service_items_options{
	max-width: 1240px;
	width: 100%;
	border-radius: 0px 30px 30px 0px;
	background: rgba(26, 34, 68, 1);
	padding: 50px 29px 24px 25px;
}
.select_passangers{
	display: flex;
	flex-direction: column;
}
#one_way{
	display: flex;
	flex-direction: row;

}
.service_item_options_block{
	display: flex;
}
.label_pass,
.trip_text {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 18.29px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(192, 191, 191, 1);
	margin: auto 30px auto 0;
	


}

.option_for_select{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 21.94px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	margin-left: 15px;
	background:  rgba(56, 62, 94, 1);
	
	

}
.item{
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 21.94px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	padding-bottom: 10px;
	padding-left: 30px;

}
.one_way_date,
.one_way_time,
.return_way_date,
.return_way_time{
	display: flex;
	flex-direction: column;
}
.date_time{
	display: flex;
	flex-direction: column;
}
.one_way_block{
	display: flex;
}
#open{
	width: 228px;
	height: 66px;
	border-radius: 30px;
	background: linear-gradient(90deg, #F7D788 0%, #E3BC78 100%);
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 26.82px;
	letter-spacing: 0.05em;
	text-align: center;
	color: rgba(17, 23, 84, 1);
	opacity: 0.7;
	cursor: pointer;
	margin-top: 42px;
}

#from,
#to{
	width: 238px;
	margin-right: 25px;
	
}
#passengers,
#from,
#to{
	margin-bottom: 50px;
	background: rgba(26, 34, 68, 1);
	border-bottom: 1px solid rgba(216, 216, 216, 1);
}
#passengers{
	width: 500px;
	margin-right: 50px;
}
.img_arrow{
	position: absolute;
	padding-top: 3px;
}



select:focus,
select:active,
select:hover {
border-image-source: linear-gradient(90deg, #F7D788 0%, #E3BC78 100%);
  border-image-slice: 1;
  border-bottom: 2px solid transparent !important;
  background-image: url(../img/Arrow3.svg) !important;
  background-repeat: no-repeat !important;
  background-position-x: 98% !important;
  background-position-y: 5px !important;

}
select, input{
	-moz-appearance:none !important; /* Firefox */
    -webkit-appearance:none !important; /* Safari and Chrome */
    appearance:none;
	outline: none;
	
}
.img_pass{
	top: 17px;
    width: 14px;
    position: relative;
}

.one_way_date{
	margin-top: 83px;
}
#one_way_calendar_from,
#time_departure,
#two_ways_calendar_from,
#time_return
{
	width: 159px;
	margin-right: 50px;
	margin-bottom: 39px;
	background: rgba(26, 34, 68, 1);
	border-bottom: 1px solid rgba(216, 216, 216, 1);
	padding-left: 20px;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;


	
	
}
input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(100%);
	opacity: 1;
	position: absolute;
	z-index: 1;
	width: 170px;
	opacity: 0;

}
.one_way_time{
	margin-top: 80px;
}
.return_way_date,
.return_way_time{
	margin-top: -24px;
}
.note {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 18.29px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(192, 191, 191, 1);


}
.orderPreview{
	margin: 100px auto;
	max-width: 1698px;
	width: 100%;
	background: rgba(17, 24, 86, 1);
	padding: 50px;
}


.form_order_wrapper{
	display: flex;
	justify-content: space-between;
}
.location_details_wrapper,
.passenger_details_wrapper{
	display: flex;
	flex-direction: column;
	max-width: 690px;
	width: 100%;
}
.location_details_wrapper input,
.passenger_details_wrapper input{
	width: 690px;
	height: 62px;
	border-radius: 15px;
	background: rgba(56, 62, 94, 1);
	padding: 23px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-align: left;
	color: rgba(255, 255, 255, 1);

}
.location_details_wrapper input[type=text]::placeholder{
	color: rgba(128, 128, 128, 1);

}
.passenger_details_wrapper input[type=text]::placeholder{
	color: rgba(128, 128, 128, 1);

}
.passenger_details_wrapper input[type=text]::-webkit-input-placeholder{
	color: rgba(128, 128, 128, 1);
}
.location_details_wrapper input[type=text]::-webkit-input-placeholder{
	color: rgba(128, 128, 128, 1);
}

.location_details_wrapper input[type=text]::-moz-placeholder {
	color: rgba(128, 128, 128, 1);
}
.passenger_details_wrapper input[type=text]::-moz-placeholder {
	color: rgba(128, 128, 128, 1);
}
.passenger_details_wrapper input[type=text]:-ms-input-placeholder{
	color: rgba(128, 128, 128, 1);
}
.location_details_wrapper input[type=text]:-ms-input-placeholder{
	color: rgba(128, 128, 128, 1);
}

.location_details_wrapper label,
.passenger_details_wrapper label{
	margin-bottom: 18px;
	margin-top: 30px;
}
.verticalLine_in_form {
	width: 2px; /* Use only border style */
	height: 171px;
	float: left; 
	border: none;
	background: linear-gradient(90deg, #FEEDC4 0%, #F7D788 100%);
	margin: 165px auto 0 auto;
}


.jqcart-error{
	color: cyan;
	font-size: 24px;
}
.button_order{
	width: 311px;
	height: 66px;
	border-radius: 30px;
	background: linear-gradient(92.96deg, #F7D788 8.1%, #E3BC78 95.87%);
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 26.82px;
	letter-spacing: 0.05em;
	text-align: center;
	color: rgba(16, 23, 84, 1);
	margin: auto;
}
.button_order_wrapper{
	display: flex;
	margin-top: 75px;
}

/*кнопка закрытия начало*/
.close{
	position: absolute;
    top: 68px;
    right: 267px;
	cursor: pointer;
}


/*кнопка закрытия конец*/



	
